button {
    color: white;
    border: none;
    padding: 0.5em;
    font-size: medium;
    background-color: grey;
}

.chosen {
}

.unchosen {
    opacity: 40%;
}

.counter {
    color: white;
    font-size: x-large;
    padding 1em;
}

.happening {
    background-color: darkred;
}

.not-happening {
    background-color: darkgreen;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

div {
    text-align: center;
}

p {
    text-align: center;
}

table {
    margin: 0 auto;
    border-spacing: 1em 0;
}

.talignl {
    text-align: left;
}

.talignr {
    text-align: right;
}
